basic intro

In [16]:
tuples = (1, 2, 24, 30)
print(tuples[1])

# create a tuple
my_tuple = tuple(('name', 'address', 'roll', 'class'))
print(type(my_tuple), my_tuple)

2
<class 'tuple'> ('name', 'address', 'roll', 'class')

tuples method

In [42]:
looks_tuplse = 10
print(type(looks_tuplse))

actual_tuples = (10, 90, 70, 100, 300, 34)
print(type(actual_tuples))
print(actual_tuples[1:3])
print(actual_tuples[3:])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(type(thistuple[:5]))

<class 'int'>
<class 'tuple'>
(90, 70)
(100, 300, 34)
<class 'tuple'>

more methods

In [46]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-5:-1])

('cherry', 'orange', 'kiwi', 'melon')

replace tuple value

In [59]:
# x = ("apple", "banana", "cherry")
# y = list(x)
# y[1] = "jackfruit"
# y = tuple(y)
# print(y[1], y)
# print(type(x), type(y))

# add a item

x = ("apple", "banana", "cherry")
y = list(x)
y.append("grapes")
print(y, type(y))
y = tuple(y)
print(y, type(y))

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple + y

print(thistuple)

['apple', 'banana', 'cherry', 'grapes'] <class 'list'>
('apple', 'banana', 'cherry', 'grapes') <class 'tuple'>
('apple', 'banana', 'cherry', 'orange')

unpack tuple

In [78]:
fruits = ("apple", "banana", "cherry")
(apple, banana, cherry) = fruits
# print(apple)

flowers = ("rose", "tulip", "lily", "cherry")
(mango, tulipNa, lilylily, cherry) = flowers
# print(mango)
# print(lilylily)

# use asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry", "rose")

(*green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry', 'strawberry']
raspberry
rose

count and index

In [83]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry", "banana")

my_val = fruits.count("banana")
my_index = fruits.index("cherry")
print(my_val)
print(my_index)

2
2